body {
    margin: auto;

}

header {
    background-color: #201F2E;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
   
}

h1 {
    color: #ffffff;
    text-align: center;
    padding: 30px;

}

#border {
    border: 50px inset #201F2E;
    position: relative; 
    top: 200px;
    display: block;
    margin: 0 auto;
    width: 500px;
    border-radius: 100px;

}

#survey {
    text-align: center;
    padding: 20px;
    height: 600px;
    
}

hr {
    width: 5%;
    
}
